@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color-primary: #0b0b0b;
  --dark-color-secondary: #222222;

  --light-color-primary: #fefefe;
  --light-color-secondary: #d5d7e0;

  --hover-color-primary: #513391;
  --hover-color-secondary: #5d3ba4;

  --mantine-color-dark-2: var(--light-color-secondary);
  --mantine-color-gray-6: var(--dark-color-secondary);

  @mixin light-root {
    --mantine-color-body: var(--light-color-primary);
  }
  @mixin dark-root {
    --mantine-color-body: var(--dark-color-primary);
  }
}

.mantine-TextInput-input {
  @mixin light {
    background-color: var(--light-color-primary);
  }

  @mixin dark {
    background-color: var(--dark-color-primary);
    color: var(--light-color-primary);
  }
}

.mantine-Select-input,
.mantine-DatePickerInput-input,
.mantine-Fieldset-root,
.mantine-TextInput-input {
  @mixin light {
    background-color: var(--light-color-primary);
  }

  @mixin dark {
    background-color: var(--dark-color-primary);
    color: var(--light-color-primary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
