.buttonDefault {
  background-color: light-dark(
    var(--light-color-secondary),
    var(--dark-color-secondary)
  );
  color: light-dark(var(--dark-color-primary), var(--light-color-primary));

  @mixin hover {
    background-color: var(--hover-color-primary);
    box-shadow: 0 0 16px 2px #fff;
  }
}

.buttonSelected {
  background-color: light-dark(
    var(--hover-color-primary),
    var(--hover-color-primary)
  );
  color: var(--light-color-primary);

  @mixin hover {
    background-color: var(--hover-color-secondary);
  }
}

.tabBarDefault {
  composes: buttonDefault;
  box-shadow: none !important;
}

.tabBarSelected {
  composes: buttonSelected;
  box-shadow: none !important;
}

.socialButtonDefault {
  @mixin hover {
    transform: scale(0.95);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    box-shadow: 0 0 16px 2px #fff;
  }
}
